@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root{
    --quickSand-font:'Quicksand', sans-serif;
    --lato-font: 'Lato', sans-serif;;
    --accent-color1:#DAD7CD;
    --accent-color2:#588157;
    --accent-color3:#344E41;
    --sec-color:#A3B18A;
    --primary-color:#3A5A40;
}

.container{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--primary-color);
   flex-direction: column;
   position: relative;
   overflow: hidden;
}
.container2{
   display: flex;
   justify-content: center;
   background-color: var(--accent-color1);
   position: relative;
   overflow: hidden;
}

/*.............................................................................*/
#head-1{
width: 80%;
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-between;
padding: 20px 0px;
gap: 20px;

}
.mob-nav{
  display: none;
}
.logo-place h1{
   font-family: var(--quickSand-font);
   color: var(--accent-color1);
   font-size: 2rem;
}
.nav-ul{
display: flex;
flex-wrap: wrap;
gap: 40px;
}
.nav-li{
list-style: none;

}
.nav-links{
color: var(--accent-color1);
text-decoration: none;
font-family: var(--lato-font);
padding: 10px;
}
.nav-links:hover{
   color: var(--sec-color);
}
.active{
   background-color: var(--accent-color3);
   border-radius: 5px;
   color: var(--sec-color);
}
.menu-btn-place{
  display: none;
}
/*.............................................................................*/
 #hero-sec{
   width: 80%;
    padding: 100px 0px;
    color: var(--accent-color1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
 }
 .hero-text-content{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
 }
 .hero-text-content h1{
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    color: var(--sec-color);
 }
 .hero-text-content h3{
    font-size: 1.3rem;
 }
 .hero-text-content h5{
    font-weight: 400;
    font-size: 1rem;
 }
 .hero-btn{
    border: none;
    background-color: var(--accent-color2);
    padding: 10px 25px;
    border-radius: 10px;
    color: var(--accent-color1);
    font-family: var(--lato-font);
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
 }
 .hero-btn:hover{
background-color: var(--accent-color3);
 }
 .hero-img-area{
    width: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
 }
 .hero-img{
    width: 100%;
    /* height: 100%; */
 }



 /*.............................................................................*/


 #quote-sec{
   padding: 50px 0px;
   background-color: var(--accent-color3);
   position: relative;
   color: var(--accent-color1);
   z-index: 2;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 #quote-sec::before{
   content: "";
   position: absolute;
   top: 0 ;
   left: 0;
   background-image: url("./images/cupcake-2.jpg");
   background-size: cover; 
   background-repeat: no-repeat; 
   background-position: center center;
   width: 100%;
   height: 100%;
   opacity: 10%;
   z-index: -1;

 }
.quote-text-content{
   width: 900px;
}
.quote-text-content h1{
color: var(--sec-color);
font-family: var(--lato-font);
font-weight: 600;
text-align: center;
}
.quote-text-content h3{
   font-family: var(--lato-font);
   font-weight: 400;
   text-align: center;
}



 /*.............................................................................*/

 #store-section{
   width: 80%;
   padding: 40px 0px;
   position: relative;
 }
 #store-section h1{
   font-family: var(--lato-font);
   font-weight: 600;
   font-size: 2rem;
   color: var(--accent-color2);
 }
 .items-area{
width: 100%;
font-family: var(--lato-font);
display: flex;
justify-content: space-between;
gap: 40px;
padding: 20px 0px;
flex-wrap: wrap;
 }
 .item{
   border-radius: 10px;
width: 500px;
height: 300px;
padding: 10px;
background-color: var(--primary-color);
display: flex;
align-items: center;
justify-content: center;
z-index: 2;
position: relative;
 }
 .item-link{
   text-decoration: none;
   color: var(--accent-color1);
   font-size: 1.5rem;
 }
 .item-link:hover{
   color: var(--sec-color);
 }
 .item::before{
   content: "";
   position: absolute;
   top: 0 ;
   left: 0;
   background-size: cover; 
   background-repeat: no-repeat; 
   background-position: center center;
   width: 100%;
   height: 100%;
   opacity: 10%;
   z-index: -1;
 }
 .item-1::before{
   background-image: url("./images/rolls-1.jpg");
 }
 .item-2::before{
   background-image: url("./images/cake2.jpg");
 }
 .item-3::before{
   background-image: url("./images/donuts-1.jpg");
 }
 .item-4::before{
   background-image: url("./images/bread-1.jpg");
 }


  /*.............................................................................*/
  #reason-sec{
   width: 80%;
   padding: 40px 0px;
   position: relative;
  }

  #reason-sec h1{
   font-family: var(--lato-font);
   font-weight: 600;
   font-size: 2rem;
   color: var(--accent-color1);
 }
 .reasons-area{
   width: 100%;
   font-family: var(--lato-font);
   display: flex;
   gap: 50px;
   padding: 50px 0px;
   flex-wrap: wrap;
   justify-content: center;
 }
 .reason{
   border-radius: 50%;
width: 250px;
height: 250px;
padding: 10px;
background-color: var(--accent-color1);
display: flex;
align-items: center;
justify-content: center;
z-index: 2;
position: relative;
overflow: hidden;
cursor: pointer;
 }
 .reason-1 h3{
text-align: center;
 }
 .reason::before{
   content: "";
   position: absolute;
   top: 0 ;
   left: 0;
   background-size: cover; 
   background-repeat: no-repeat; 
   background-position: center center;
   width: 100%;
   height: 100%;
   opacity: 20%;
   z-index: -1;
 }
 .reason-1::before{
   background-image: url("./images/cake1.jpg");
 }
 .reason-2::before{
   background-image: url("./images/donuts-1.jpg");
 }
 .reason-3::before{
   background-image: url("./images/cupcake-1.jpg");
 }
 .reason-4::before{
   background-image: url("./images/cake5.jpg");
 }


  /*.............................................................................*/

  #cust-mesg{
    width: 80%;
    padding: 40px 0px;
    position: relative;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .text-content{
    background-color:var(--primary-color);
    color: var(--accent-color1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }
  .text-content h1{
    font-size: 3rem;
    color: var(--sec-color);
    font-family: var(--lato-font);
  }
  .text-content {
 text-align: center;
 display: flex;
 flex-direction: column;
 
  }
  .text-content-1{
   max-width: 500px;
   min-width: 200px;
  }
  .text-content-2{
    max-width: 500px;
    min-width: 200px;
  }
    /*.............................................................................*/
    #foot-1{
      width: 80%;
      padding: 40px 0px;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
    }
    .contact-box{
      background-color: var(--accent-color1);
      max-width: 500px;
      min-width: 200px;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .contact-box h1{
    text-align: center;
    color: var(--accent-color3);
    font-family: var(--lato-font);
    font-weight: 600;
    font-size: 2rem;
    }
    .input-area{
display: flex;
flex-direction: column;
gap: 20px;
    }
    .take-inf{
      background-color: black;
      color: var(--accent-color1);
      padding-left: 10px;
      border: none;
      height: 40px;
      max-width: 300px;
      min-width: 100px;
      border-radius: 10px;
    }
    .contact-btn{
      align-self: center;
      background-color: var(--primary-color);
      color: var(--accent-color1);
      font-family: var(--lato-font);
      font-weight: 600;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
    }
    .sitemap-area{

    }
    .sitemap-area h1{
      font-family: var(--lato-font);
      font-weight: 600;
      color: var(--accent-color1);
    }
    .sitemap-area li{
     color: var(--accent-color1);
      padding: 10px 0px;
    }
    .sitemap-area li a{
 color: var(--sec-color);
  
    }
    .mycontact-inf{
      color: var(--accent-color1);
      display: flex;
      flex-direction: column;
      gap:20px;
    }
    .mycontact-inf h1{
      font-family: var(--lato-font);
      font-weight: 600;
      color: var(--accent-color1);
    }